.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #140949;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lefts{
  position: relative;
  left:0px;
  right: 100px;
}

.card{
    position: relative;
    right:50%;
    left:10%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.h2 {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: -0.025em;
}

